streamlit
python-weather
requests
aiohttp

numpy
pandas
scikit-learn
scipy

matplotlib
seaborn

folium
streamlit-folium
geopy

joblib
protobuf
altair
pydeck

tenacity
click
tornado
tzdata
python-dateutil
pytz

networkx
